html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Japanese";
  font-weight: lighter;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  width: 70vw;
  margin-left: 15vw;
}

/* ヘッダー */
header {
  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.4);
  -ms-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.4);
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: white;
}

header .header-logo {
  padding-left: 6vw;
  vertical-align: middle;
  height: 60px;
  width: 70vw;
  margin: 0;
}

header .header-logo a {
  font-size: 5vw;
  text-decoration: none;
  color: black;
  line-height: 60px;
}

.nav-drawer {
  position: absolute;
  margin: 10px 20px;
  text-align: right;
  /* float: right; */
  right: 0;
  top: 0;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
.nav-open {
    display: inline-block;
    width: 60px;
}

/*ハンバーガーアイコン*/
.nav-open i {
    width: 60px;
    cursor: pointer;
    font-size: 40px;
    color: #666;
}

/*閉じる用の薄黒カバー*/
.nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
.nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;/*最前面に*/
    width: 60%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: white;/*背景色*/
    box-shadow: 10px 0 30px rgba(255, 255, 155, .5);
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ .nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ .nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    /*box-shadow: 6px 0 25px rgba(0,0,0,.15);*/
}

.nav-ul {
  margin: 40px 20px;
  padding: 0;
}

.nav-ul li {
  list-style: none;
  margin: 40px 0;
}

.nav-ul li a {
  text-decoration: none;
  color: black;
}


h2.heading {
  text-align: left;
  padding: 4px 12px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.first-content {
  position: relative;
  padding-top: 60px;
  height: 92vh;
  overflow: hidden;
}

.first-content video {
  height: 100%;
  -moz-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -ms-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.first-content img {
  height: 100%;
  -moz-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  -ms-box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 8px 1px rgba(0,0,0,0.4);
}

.first-content-overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.first-content-overlay .content-title {
  position: absolute;
  background-color: rgba(255, 255, 255, .6);
  color: rgba(0, 0, 0, .8);
  font-size: 7vw;
  top: 56%;
  left: 0;
  right: 0;
}

.first-content-overlay p {
  position: absolute;
  color: rgba(255, 255, 255, .8);
  font-size: 3vw;
  margin: 0;
  left: 0;
  right: 0;
}

.title-name {
  font-size: 2em;
  margin: 10px;
}

.my-link-icons {
  height: 56px;
  margin: 60px 14px 60px;
}

.my-link-icons a {
  height: 100%;
  margin: 20px;
}

.my-link-icons a img {
  height: 100%;
}

.store-link-badges {
  height: 56px;
  margin: 60px 20px 200px;
}

.store-link-badges a {
  height: 100%;
  margin: 20px;
}

.store-link-badges a img {
  height: 100%;
}


.clear {
  clear: both;
}

.pickup-item {
  width: 90%;
  margin: 0 5% 200px;
}

.pickup-item video {
  width: 100%;
}

.pickup-item img {
  width: 100%;
}

.pickup-content {
  width: 100%;
  margin: 0 0 200px;
}

.pickup-content .pickup-title {
  display: block;
  font-size: 3.6em;
  font-weight: bold;
  line-height: 1em;
  color: #aaa;
  text-decoration: none;
}

.pickup-content .pickup-category {
  font-size: 1em;
  color: #888;
  margin: 0 6px 30px;
}

.page-content {
  width: 90%;
  margin-left: 5%;
}

.page-content p {
  margin-bottom: 4em;
}


footer {
  height: 40px;
  width: 100%;
  border-top: solid 1px black;
  background-color: white;
  text-align: center;
  margin-top: 60px;
  z-index: 999;
}

footer p {
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
}

.strong {
  font-weight: bold;
  color: #ee3322;
}



@media screen and (min-width: 499px) {
  /*ヘッダー*/
  header .header-logo {
    padding-left: 20px;
  }

  header .header-logo a {
    font-size: 24px;
  }

  h2.heading {
    padding: 4px 22px;
  }
}


@media screen and (min-width: 899px) {

  header .header-logo {
    padding-left: 50px;
  }

  .nav-input {
    display: none;
  }

  .nav-open {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-content {
      overflow: auto;
      position: fixed;
      display: table;
      right: 0;
      z-index: 9999;/*最前面に*/
      width: 70vw;/*右側に隙間を作る*/
      max-width: 1200px;
      height: 60px;
      background: none;/*背景色*/
      box-shadow: none;
      transition: none;/*滑らかに表示*/
      -webkit-transform: translateX(105%);
      transform: none;/*左に隠しておく*/
      margin 0;
      text-align: right;
  }

  .nav-ul {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: auto;
  }

  .nav-ul li {
    display: table;
    height: 100%;
    margin: 0;
    padding: 4px 50px 0 0;
    font-size: 18px;
    float: left;
  }

  .nav-ul li a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  h2.heading {
    padding: 4px 36px;
  }

  .pickup-item video {
    width: 40%;
  }

  .pickup-item img {
    width: 40%;
  }

  .pickup-content {
    float: right;
    width: 50%;
    margin: 0 5% 200px;
  }
}
