<div class="header-logo">
  <a href="/">Yusuke Nakajima の Portfolio</a>
</div>
<nav class="nav-drawer">
  <input id="nav-input" class="nav-unshown" type="checkbox">
  <label class="nav-open" for="nav-input"><i class="fas fa-bars"></i></label>
  <label class="nav-close nav-unshown" for="nav-input"></label>
  <div class="nav-content">
    <ul class="nav-ul">
      <!-- <li><a href="./profile">PROFILE</a></li> -->
      <li><a href="../app/">APP</a></li>
      <li><a href="../web/">WEB</a></li>
      <li><a href="../others/">OTHERS</a></li>
    </ul>
  </div>
</nav>